<h4 class="pt-3">EmployeeDetail</h4>

@if (_employeeDto != null)
{
	<EditForm Model="_employeeDto">
		<HxInputText Label="Name" @bind-Value="_employeeDto.Name" />
		<HxSubmit Color="ThemeColor.Primary" OnValidClick="HandleSave" Settings="SaveButtonSettings">Save</HxSubmit>
	</EditForm>
}

@code {
	[Parameter] public int EmployeeId { get; set; }
	[Parameter] public EventCallback OnEmployeeUpdated { get; set; }
	[Parameter] public ButtonSettings SaveButtonSettings { get; set; }

	[Inject] protected IDemoDataService DemoDataService { get; set; }

	private EmployeeDto _employeeDto;

	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine($"EmployeeDetail.OnParametersSetAsync: {EmployeeId}");

		_employeeDto = await DemoDataService.GetEmployeeDetailAsync(EmployeeId);
	}

	private async Task HandleSave()
	{
		await DemoDataService.UpdateEmployeeAsync(_employeeDto);
		await OnEmployeeUpdated.InvokeAsync();
	}
}
